@import "cas.css";

/* original settings in imported cas.css:
:root {
    --cas-theme-primary: #153e50;
    --cas-theme-primary-bg: rgba(21, 62, 80, 0.2);
    --cas-theme-primary-light: #006d85;
    --cas-theme-secondary: #74C163;
    --cas-theme-success: var(--cas-theme-secondary);
    --cas-theme-danger: var(--mdc-theme-error);
    --cas-theme-warning: #e6a210;
    --cas-theme-border-light: 1px solid rgba(0, 0, 0, .2);
    --cas-theme-twitter-color: #55acee;
    --cas-theme-vimeo-color: #1ab7ea;
    --cas-theme-vk-color: #587ea3;
    --cas-theme-yahoo-color: #720e9e;
    --cas-theme-google-color: #CC5445;
    --cas-theme-facebook-color: #3B5998;
    --atlassian-theme-primary: #0747a6;
    --mdc-theme-primary: var(--cas-theme-primary, #153e50);
}
*/

:root {
	--cas-theme-primary-bg: rgb(21, 62, 80, 0.2);
	--cas-theme-primary: #1b304a;
	--mdc-theme-primary: var(--cas-theme-primary, #1b304a); 
	
	--cas-theme-primary-title-color: #cc2c32;
}

body {
    background: url("/cas/images/UK-background.png") fixed center top repeat-y var(--cas-theme-primary-bg);
}

h1, h2, h3, h4, h5, h6, h7 {
    color: var(--cas-theme-primary-title-color);
}

#app-bar {
    background-color: white;
    color: var(--mdc-theme-text-primary-on-light);
}

#app-bar .btn {
    color: var(--mdc-theme-text-primary-on-light);
}

.mdc-top-app-bar--fixed-adjust {
    padding-top: 64px;
}

#main-content {
	padding-left: 0px;
	padding-right: 0px;
}

.cas-footer {
    color: inherit;
    background: inherit;
}

.mw-8 {
    max-width: 680px;
}

@media screen and (max-height: 630px) {

	footer.cas-footer {
		display: none !important;
	}

	.mdc-top-app-bar--fixed-adjust {
    	 	padding-top: 42px;
	}

}

@media screen and (max-height: 730px) {

}

@media screen and (max-width: 480px) {

}
